/* general rules */ 
.panel {
	min-height: 100%; 
	background: url('../images/blu_stripes.png');
	padding: 70px 20px 20px;
}

h3 {
	font-family: $sans-serif;
	font-weight: 600;
	color: lighten($blue, 20%);
}

strong {
	font-weight: 500;
	background-color: lighten($blue, 60%);
	padding-right: .1em;
	padding-left: .1em;
}



/* navigation bar */
[data-magellan-expedition] {
	background: $black;
	border-bottom: 2px solid $white;
	@include box-shadow;
	padding: 0;
	
	.sub-nav {
		text-align: center;
		
		dd {
			float: none;
			font-family: $sans-serif;
			text-transform: uppercase;
			font-size: .8em;
			font-weight: 400;
			letter-spacing: 1px;
			
			a {
				color: darken($white, 20%);
				padding: 10px 20px;
				display: inline-block;
			}
			
			&.active a {
				background: darken($blue, 10%);
				border-radius: 0;
				color: darken($white, 30%);
			}
		}
	}
}



/* hello section */
#hello {
	background: $purple;
	@include css-gradient($from: darken($purple, 10%), $to: darken($black, 10%));
	color: $white;
	
	h1 {
		color: lighten($blue, 30%);
		margin: 1em 0 .5em;
	}
	.intro {
		font-size: 1.7em;
		line-height: 1.4em;
		font-family: $sans-serif;
		font-weight: 300;
	}
	
	strong {
		font-weight: 500;
		background-color: darken($purple, 30%);
		color: lighten($purple, 30%);
	}
	
	img {
		@include circular;
		margin-bottom: 2em;
	}
}


/* about section */
#about {

	.row {
		margin-top: 2em;
	}
	
	img {
		@include circular;
	}
}




/* portfolio section */
#work {
	background: $grey;
}
#work > :first-child {
	margin-top: 6em;
}

.portfolio-piece {
	background-size: cover;
	border: 20px solid $white;
	margin-top: 12em;
	position: relative;
	@include box-shadow;
	padding-bottom: 2em;
	
	.row:first-child::before {
		background: rgba(0,0,0,.5);
		width: 100%;
		height: 100%;	
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.project-writeup {
		background: rgba(255, 255, 255, .75);
		margin-top: 4em;
		border: 1px solid $white;
		@include box-shadow;
		text-align: center;
		
		.responsive {
			max-width: 130%;
			margin-left: -15%;
		}
		
		.overlap {
			margin-top: -10em;
			
			&.detail {
				width: 48%;
				margin-left: 26%;
				margin-right: 26%;
			}
		}
		
		.services, h2, p {
			text-align: left;
			clear: both;
		}
		
		.services {
			text-transform: uppercase;
			font-size: .7em;
			letter-spacing: 1px;
			background: $purple;
			padding: 8px 12px 8px 12px;
			color: $white;
			display: inline-block;
			max-width: 90%;
			float: left;
			line-height: 1.4em;
			margin: 0 0 .5em -30px;
			font-family: $sans-serif;
		}
		
	}
	
	.detail {
		@include circular;
		margin-top: 2em;
	}
	
	blockquote {
		font-size: 1.2em;
		font-style: italic;
		margin: 2em 0 1em;
				
		&::before {
			content: ('\201C');
			font-size: 5em;
			margin: -.25em 0 0 -.5em;
			float: left;
			font-style: normal;
		}
	}

}

#eltettensor {
	background: url('../images/el-tettensor-author-website/parallax.jpg');
}
#cascades {
	background: url('../images/cascades-day-spa-website/full-page.jpg');
}
#zombies {
	background: url('../images/zombies-ate-lauren/background.jpg');
}

#other {
	padding-top: 6em;
	padding-bottom: 2em;
	background: url('../images/blu_stripes.png');
	
	.row::before {
		display: none;
	}
	
	h1 {
		text-align: center;
	}
	
	.project-writeup {
		padding: 5px;
		border: 0;
		width: 32%;
		margin: 0 2% 1em 0;
		
		&:last-child{
			margin-right: 0;
		}
		
		.services {
			margin: -10px 0 10px -15px;
			position: relative;
		}
		
		p {
			font-size: .9em;
			line-height: 1.2em;
			margin:  .5em;
			text-align: center;
		}
	}
}