a.menu-icon {
	width: auto;
	background: transparent;
	z-index: 4000;

	span {
		left: auto;
		right: 0.8125rem;
	}
}

p {
	font-size: .9rem;
}
.panel {
	min-height: 0;
	padding-top: 0;


}



#hello {
	background: url('../images/backgrounds/stars.png') no-repeat top center, darken($purple, 40%);
	background-size: 1600px 1260px;

	img.sarahface {
		float: none;
		display: block !important;
		width: 70%;
		margin: 10% 15% -5%;

		@media #{$landscape} {
			float: left;
			width: 35%;
			margin: 40px 20px 10px;
		}
	}

	h1 {
		font-size: 1.8em;
		text-align: center;
	}

	.intro {
		font-size: 1.2em;
		text-align: center;
	}
}

#about {

	img {
		display: none;
	}

}

/* portfolio section */
#work {
	.thumbnails img {
		border-width: 8px;
		width: 80%;
		margin: 10%;
	}
}

/* contact section */
#contact {
	padding-top: 70px;
	background: $pink url('../images/backgrounds/pink-sky.jpg') repeat-y center -45px;
	background-size: 950px 616px;

	img {
		display: none;
	}

	h3:nth-of-type(2) {
		margin-top: 2em;
		margin-bottom: 1em;
	}

	h4 {
		display: none;
	}

	footer {
		display: none;
	}
}
